@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* ==========================================================================
   0. CONFIGURAÇÃO GLOBAL
   ========================================================================== */

:root {
    --color-primary-cyan: hsl(180, 66%, 49%);
    --color-primary-dark-violet: hsl(257, 27%, 26%);

    --color-neutral-secondary-color: hsl(257, 7%, 63%);
    --color-neutral-dark-blue: hsl(255, 11%, 22%); 
    --color-neutral-darkest: hsl(260, 8%, 14%); 
    --color-neutral-grayish: hsla(0, 0%, 75%, 0.4);
    --color-neutral-light-gray: hsl(0, 0%, 89%); 
    --color-neutral-white: whitesmoke;

    --color-error: hsl(0, 87%, 67%);

    --font-family-primary: "Poppins", sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

html {
    font-family: var(--font-family-primary);
    font-size: 62.5%;
    font-style: normal;
}

body {
    font-size: 1.6rem;
}

/* ==========================================================================
   1. UTILITY CLASSES E BOTÕES
   ========================================================================== */

.btn {
    font-weight: var(--font-weight-bold);
    border: none;
    color: var(--color-neutral-white);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


.btn--primary {
    background-color: var(--color-primary-cyan);
    font-size: 1.8rem;
    width: 15rem;
    height: 5rem;
    border-radius: 30px;
    margin-top: 2rem;
}

.btn--primary:hover {
    background-color: hsla(180, 66%, 49%, 0.65);
}

.btn_sign {
    margin: 0;
    font-size: 1.4rem;
    width: 10rem;
    height: 2.5rem;
}

.btn--action {
    background-color: var(--color-primary-cyan);
}

.btn--action:hover {
    background-color: hsla(180, 66%, 49%, 0.65);
}

.button-copied {
    background-color: var(--color-neutral-darkest) !important;
    color: var(--color-neutral-white);
}

.button-copied:hover {
    background-color: var(--color-neutral-secondary-color) !important;
}


.animation_fade_in {
    animation: fadeIn 0.7s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* ==========================================================================
   2. HEADER (Navegação e Hero)
   ========================================================================== */

.header {
    overflow-x: hidden;
    padding: 2rem;
    margin-bottom: 13rem;
    font-size: 1.4rem;
}

.header__informations__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    user-select: none;
    color: #A2A1A6;
}

.header_functions, .navbar__informations, .navbar__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.header__informations__container > .header_button {
    font-size: 1.6rem;
}

.navbar__informations > *:hover, .navbar__user > *:hover{
    color: #525253;
    cursor: pointer;
}

.header__menu-button {
    font-size: 3rem;
    color: var(--color-neutral-secondary-color);
    background: none;
    border: none;
    cursor: pointer;
}

.header__hero {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
}

.header__hero__image-container {
    position: relative;
    text-align: end;
    width: 30rem;
    height: 32rem;
}

.header__hero__illustration {
    position: absolute;
    width: 40rem;
    left: 2rem;
    z-index: 1000;
}

.header__hero__texts {
    align-self: center;
    text-align: center;
    margin-top: 2rem;
    width: 100%;
}

.header__hero__title, .header__hero__paragraph {
    min-width: 30rem;
    max-width: 50rem;
    margin: auto;
}

.header__hero__title {
    font-size: 4rem;
    font-weight: var(--font-weight-bold);
}

.header__hero__paragraph {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: var(--color-neutral-secondary-color);
}

/* ==========================================================================
   3. MAIN CONTENT
   ========================================================================== */

.main {
    position: relative;
    background-color: var(--color-neutral-grayish);
    padding-top: 10rem;
}


.main__shorten-box {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: -15rem;
}

.shorten-box__container {
    position: relative;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-image: url("../images/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-position: 100% -20px;
    padding: 2rem;
    width: 70%;
    height: 15rem;
    gap: 1.5rem;
    margin-bottom: 5rem;
    background-color: var(--color-primary-dark-violet);
    top: -3rem;
}

.shorten-box__input-area {
    width: 98%;
}

.shorten-box__input {
    font-family: var(--font-family-primary);
    font-style: normal;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 5rem;
}

.shorten-box__error-message {
    position: absolute;
    bottom: 2rem;
    left: 2.5rem;
    color: var(--color-error);
    font-size: 1.4rem;
}


.shorten-box__input.error_input {
    border: 3.5px solid var(--color-error);
}

.shorten-box__input.error_input::placeholder { 
    color: var(--color-error); 
    opacity: 0.6;
}

.btn--action {
    height: 5rem;
    border-radius: 9px;
    font-size: 1.8rem;
}

.main__history {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 23rem;
}

.container_history__card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--color-neutral-white);
    padding: 1.5rem;
    width: 70%;
    border-radius: 5px;

}

.container_history__card > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.26rem;
}

.history_card__title {
    border-bottom: 1px solid var(--color-neutral-light-gray);
    padding-bottom: 1rem;
    color: var(--color-neutral-darkest);
}

.history_card__shorten {
    font-weight: var(--font-weight-bold);
    color: var(--color-primary-cyan);
}

.btn_copy {
    height: 3rem;
    border-radius: 5px;
    background-color: var(--color-primary-cyan);
    font-size: 1.6rem;
}

.main__statistics {
    padding: 0 2.5rem;
}

.main__statistics__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0;
    margin-top: 5rem;
}

.main__statistics__title {
    font-size: 2.8rem;
    max-width: 50rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: 1rem;  
}

.main__statistics__paragraph {
    max-width: 50rem;
    font-size:1.8rem;
    line-height: 2.5rem;
    color: var(--color-neutral-secondary-color);
}

.main__cards {
    position: relative;
    display: flex;
    justify-content: center;
}

.main__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9rem; 
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.main__cards__line {
    position: absolute;
    border-left: 0.7rem solid var(--color-primary-cyan);
    height: 70%;
    top: 10rem;
    z-index: -100;
}

.main__card {
    position: relative;
    background-color: var(--color-neutral-white);
    width: 27rem;
    padding: 3rem;
    text-align: center;
    border-radius: 5px;
}

.card__icon-container {
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 7.5rem;
    height: 7.5rem;
    background-color: var(--color-primary-dark-violet);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__icon {
    width: 3.5rem;
    height: 3.5rem;
}

.card__title {
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    margin-top: 4rem; 
    margin-bottom: 1rem;  
}

.card__paragraph {
    font-size: 1.3rem;
    line-height: 1.9rem;
    color: var(--color-neutral-secondary-color);
}

.main__boost {
    padding: 7rem;
    text-align: center;
    background-color: var(--color-primary-dark-violet);
    background-image: url("../images/bg-boost-mobile.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.main__boost__title {
    font-size: 2.8rem;
    font-weight: var(--font-weight-bold);

    color: var(--color-neutral-white);
}

/* ==========================================================================
   4. FOOTER
   ========================================================================== */

.footer__main {
    background-color: var(--color-neutral-darkest);
    text-align: center;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.footer__logo {
    fill: var(--color-neutral-white);
    filter: invert(1) brightness(1.5); 
    margin-bottom: 1rem;
}

.footer__nav-group {
    margin-bottom: 3rem;
}

.footer__nav-group__title {
    color: var(--color-neutral-white);
    font-weight: var(--font-weight-bold);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.footer__nav-group__list {
    list-style: none;
    padding: 0;
}

.footer__link {
    text-decoration: none;
    color: var(--color-neutral-secondary-color);
    font-size: 1.4rem;
    display: block;
    margin-bottom: 0.5rem;
    transition: color 0.3s;
}

.footer__link:hover {
    color: var(--color-primary-cyan);
}

.footer__social-medias {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer__social-medias a img  {
    width: 2.5rem;
    height: 2.5rem;
    filter: brightness(0.7) invert(1);
    transition: filter 0.3s;
}

.footer__social-medias a img:hover {
    filter: brightness(1) invert(1) hue-rotate(180deg);
}