@media (min-width: 800px) and (max-width: 1280px) {
    .header {
        padding: 4.5rem;
    }

    .header__hero {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    
    .header__hero__illustration {
        right: 20rem; 
    }
    
    .header__hero__texts {
        align-self: center;
        text-align: start;
        margin-top: 2rem;
        min-width: 30rem;
        max-width: 40rem;
    }


    .main__cards {
        flex-direction: row;
        gap: 3rem;
        padding: 0 5rem;
    }

    .main__cards__line {
        border-top: 0.7rem solid var(--color-primary-cyan);
        width: 70%;
        height: 0;
        border-left: none;
        top: 25%; 
        left: 15%;
    }

    .main__card {
        text-align: left;
        margin-top: 0;
    }

    .main__cards > div:nth-child(2) { margin-top: 0rem; }
    .main__cards > div:nth-child(4) { margin-top: 4rem; }
    .main__cards > div:nth-child(6) { margin-top: 8rem; }
    
    .card__icon-container {
        left: 3rem;
        transform: none;
    }

    .main__boost {
        background-image: url("../images/bg-boost-desktop.svg");
        background-position: center center;
        background-size: cover;
    }

    .main__boost__title {
        font-size: 4rem;
    }
}

@media (min-width: 1280px) {

    .header {
        padding: 10rem;
        padding-top: 4.5rem;
        font-size: 2rem;
    }

    .header__hero {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-bottom: 5rem;
        padding-top: 10rem;
    }
    
    .header__hero__illustration {
        width: 70rem;
        left: -23rem;
        top: -3rem;
    }
    
    .header__hero__texts {
        align-self: center;
        text-align: start;
        margin-top: 2rem;
        min-width: 30rem;
        max-width: 48rem;
    }

    .header__hero__title {
        font-size: 6rem;
    }

    .header__hero__paragraph {
        font-size: 2rem;
        margin-top: 1rem;
    }
    

    .shorten-box__container {
        flex-direction: row;
        background-image: url("../images/bg-shorten-desktop.svg");
        background-size: cover;
        height: 7rem;

        top: -0.5rerem;
    }
    
    .shorten-box__input-area {
        flex-grow: 1;
    }

    .shorten-box__error-message {   
        bottom: -2rem;
        left: 0;
    }

    .shorten-box__input {
        font-size: 1.6rem;
    }

    .btn--action {
        width: 25%;
        border-radius: 10px;
        height: 5rem;
        flex-shrink: 0;
    }

    .main__history {
        gap: 1.5rem;
        margin-top: 15rem;
    }

    .container_history__card {
        flex-direction: row;
        align-items: center;
        width: 75%;
        height: 7rem;
        padding: 2.5rem;
        margin-bottom: 2rem;
    }

    .container_history__card > p {
        font-size: 1.5rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
    
    .history_card__title {
        border-bottom: none;
        padding-bottom: 0;
        width: 50%;
        flex-grow: 1;
    }
    
    .history_card__shorten {
        margin-right: 2rem;
        font-size: 1.7rem;
    }

    .btn  {
        font-size: 1.65rem;
    }

    .btn_copy {
        height: 4rem;
        width: 15rem;
        flex-shrink: 0;
    }

    .main__cards {
        flex-direction: row;
        align-items: flex-start;
        gap: 3rem;
        padding: 0 10rem;
    }

    .main__cards__line {
        border-top: 0.7rem solid var(--color-primary-cyan);
        width: 60%;
        height: 0;
        border-left: none;
        top: 25%;
        left: 20%;
    }

    .main__card {
        text-align: left;
        margin-top: 0rem;
    }

    .main__cards > div:nth-child(2) { margin-top: 0rem; }
    .main__cards > div:nth-child(4) { margin-top: 4rem; }
    .main__cards > div:nth-child(6) { margin-top: 8rem; }

    .card__icon-container {
        left: 15%;
        transform: none;
    }

    .main__boost {
        background-image: url("../images/bg-boost-desktop.svg");
        background-position: center center;
        background-size: cover;
    }

    .main__boost__title {
        font-size: 4rem;
    }

    .footer__main {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        padding: 5rem 10rem;
        text-align: left;
    }
    
    .footer__logo {
        margin-top: 0;
        margin-right: 5rem;
        flex-shrink: 0;
    }

    .footer__nav-group {
        margin-bottom: 0;
    }

    .footer__social-medias {
        margin-left: 5rem;
    }
}